@import "tailwindcss";

:root {
  --primary-bg:linear-gradient(to right, #57007B,#F76680);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }